.services{
    padding: 6rem 3rem 0 3rem;
    display: flex;
    height: 60vh;
    margin-bottom: 2rem;
    position: relative;
}
.awesome{
    display: flex;
    flex-direction: column;
    position: relative;
}
.awesome > :nth-child(1){
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome > :nth-child(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome > :nth-child(3){
    color: var(--gray);
    font-size: 1.3rem;
    font-weight: bold;
}
.servicesButton{
    width: 8rem;
    height: 2rem;
    margin-top: 1rem;
}
.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    filter: blur(72px);
    z-index: -9;
    top: -19%;
    left: 56%;
}
.cards{
    position: relative;
}
.cards > *{
    position: absolute;
}
@media(max-width : 1200px){
    .card:nth-of-type(1){
        left: 20rem !important;
    }
    .card:nth-of-type(2){
        left:3rem !important;
        
    }
}
@media(max-width : 992px){
    .services{
        padding: 2rem 2rem 0 2rem;
    }
    .awesome > :nth-child(1){
        color: var(--black);
        font-size: 2rem;
        font-weight: bold;
    }
    .awesome > :nth-child(2){
        color: var(--orange);
        font-size: 2rem;
        font-weight: bold;
    }
    .awesome > :nth-child(3){
        color: var(--gray);
        font-size: 1rem;
        font-weight: bold;
    }
    .card:nth-of-type(1){
        left: 17rem !important;
    }
    .card:nth-of-type(2){
        left:3rem !important;
        
    }
}
@media(max-width : 767px){
    .services{
        text-align: center;
        padding: 1rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        height:34rem;
    }
    .awesome > :nth-child(1){
        color: var(--black);
        font-size: 2rem;
        font-weight: bold;
    }
    .awesome > :nth-child(2){
        color: var(--orange);
        font-size: 2rem;
        font-weight: bold;
    }
    .awesome > :nth-child(3){
        color: var(--gray);
        font-size: 1rem;
        font-weight: bold;
    }
    .card:nth-of-type(1){
        left: 17rem !important;
    }
    .card:nth-of-type(2){
        left:3rem !important;
        
    }
}
@media(max-width : 600px){
    .services{
        text-align: center;
        padding: .8rem .8rem 0 .8rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        height:37rem;
    }
    .awesome > :nth-child(1){
        color: var(--black);
        font-size: 1.5rem;
        font-weight: bold;
    }
    .awesome > :nth-child(2){
        color: var(--orange);
        font-size: 1.5rem;
        font-weight: bold;
    }
    .awesome > :nth-child(3){
        color: var(--gray);
        font-size: .8rem;
        font-weight: bold;
    }
    .card:nth-of-type(1){
        left: 14rem !important;
    }
    .card:nth-of-type(2){
        left:0rem !important;
        
    }
}
@media(max-width : 500px){
    .services{
        text-align: center;
        padding: .8rem .8rem 0 .8rem;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        height:37rem;
    }
    .awesome > :nth-child(1){
        color: var(--black);
        font-size: 1.5rem;
        font-weight: bold;
    }
    .awesome > :nth-child(2){
        color: var(--orange);
        font-size: 1.5rem;
        font-weight: bold;
    }
    .awesome > :nth-child(3){
        color: var(--gray);
        font-size: .8rem;
        font-weight: bold;
    }
    .card:nth-of-type(1){
        transform: scale(.8);
        left: 12rem !important;
    }
    .card:nth-of-type(2){
        transform: scale(.8);
        left:0rem !important;
        
    }
}
@media screen and (max-width:480px){
    .services{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        height:60rem;
        padding: 0;
    }
    .cards{
        display: flex;
        flex-direction: column;
        gap: 24rem;
    }
    .cards > * {
        position: static;
    }
}